.PlantListPage {
  border: 1px dotted black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PlantListPage-tamer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2px auto;
  
}