/* Google fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Peddana', serif; 
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media only screen 
  and (min-device-width:320px ) 
  and (max-device-width:480px ) {
  .App {
    width: 100%;
  }
}

.App-header {
  width: max-content;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav{
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}