/* Google fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Peddana', serif; 
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /*border: 1px dotted black;*/
}

.App-header {
 color: white;
}

.App-link {
  color: #61dafb;
}
