/* Google fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Peddana', serif; 
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  width: max-content;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-nav{
  display: flex;
  justify-content: center;
  background-color: black;
}