body {
  background-image: url('../src/images/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid black;
  border-radius: 10px;
  width: 20rem;
  height: 15rem;
  margin: 9px;

}

.message {
  background-color: rgba(255, 255, 255, .7);
  padding: .5rem;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
}